<div class="container">
    {% include "./header.html" %}
    {# Load the tag library #}
    <div style="margin-left: 150px;">

        
        <h1>Nouveau produit</h1>
    {% if error %} <i style="color: red;">{{ error }}</i>
    {% endif %}
    <form action="{% url 'gestion_produit:save_produit' %}"
    method="post" class="form">
    {% csrf_token %}
    <!-- {% for field in form %}
        {% bootstrap_field field %}
                {% endfor %} -->
                <div class="form-group">
                    <label for="description" class="col-lg-2
                    control-label">Catégorie:</label>
                    <div class="col-lg-6">
                        <select name="categorie" class="form-control" select =" {{ produit_edited.categorie }} ">
                            {% for categorie in categories %}
                            <option value="{{ categorie }}" name="categorie">{{ categorie }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--  -->
                    <div class="col-lg-4" style="margin-left: 550px;">
                        <div class="form-group">
                            <label for="categorie" class="col-lg-2
                            control-label">Description:</label>
                            <div class="col-lg-6">
                                <textarea class="form-control" size="100%" name="description"
                                id="categorie">{{ produit_edited.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: -100px;">
                    <label for="Libelle" class="col-lg-2 control-label">Libelle:</label>
                    <div class="col-lg-6">
                <input type="text" class="form-control"
                id="libelle" name="libelle" value =" {{ produit_edited.libelle }} "
                placeholder="Entrez libelle">
            </div>
        </div>
        <div class="form-group">
            <label for="prix_u" class="col-lg-2 control-label">Prix unitaire:</label>
            <div class="col-lg-6">
                <input type="number" class="form-control"
                id="prix_u" name="prix_u" value =" {{ produit_edited.prix_u }} "
                placeholder="Entrez le Prix unitaire">
            </div>
        </div>
        <div class="form-group">
            <label for="quantite" class="col-lg-2
            control-label">Quantité:</label>
            <div class="col-lg-6">
                <input type="number" class="form-control"
                id="quantite" name="quantite" value =" {{ produit_edited.quantite |number_format }} "
                placeholder="Entrez la Quantité">
            </div>
            <!--  -->
            
        </div>
        {% buttons %}
        <button type="submit" class="btn btn-primary" class="col-lg-6">
            Submit
        </button>
        {% endbuttons %}
    </form>
</div>
    
</div>