<div class="container">
    {% include "./header.html" %}
   
    {% load bootstrap4 %}
    {% load crispy_forms_tags %}
    

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <p>
                <h1>Contact: </h1>{{destinataire}}
            </p>
            <form action="{% url 'employe:save_message' %}" method = "post" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-10">
                        <i style="color: red;">{{ error }}</i>
                      {{ form.destinataire|as_crispy_field }}
                    </div>
                    <div class="col-10">
                        {{ form.objet|as_crispy_field }}
                    </div>
                    <div class="col-10">
                        {{ form.text|as_crispy_field }}
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Envoyer">
            </form>
        </div>
    </div>
</div>